.pagination {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}

.pagination-item {
  margin: 0 5px;
}

.pagination-button {
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  color: #007bff;
  cursor: pointer;
  outline: none;
  padding: 8px 12px;
  text-decoration: none;
  transition: background-color 0.2s;
  border-radius: 10px;
}

.pagination-button:hover {
  background-color: #e9ecef;
}

.pagination-button.active {
  background-color: #007bff;
  color: #fff;
}
